name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
      - name: Install dependencies
        id: npm-ci
        run: npm ci
      - name: Building and running tests
        id: npm-build
        run: npm run build && npm test

        # Testing the action

      - name: "Test: download"
        id: test-download
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Test: getting the version"
        id: test-version
        run: |
          ./yontrack version --cli

      - name: Publication
        id: npm-publish
        if: ${{ github.ref == 'refs/heads/main' }}
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
