name: ci

on:
  pull_request:
  push:
    branches:
      - main

concurrency: "ci-${{ github.ref }}"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: read
      contents: write

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          registry-url: 'https://npm.pkg.github.com'
          scope: '@nemerosa'

      - name: Install dependencies
        id: npm-ci
        run: npm ci
        env:
          # See https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility#ensuring-workflow-access-to-your-package
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Building and running tests
        id: npm-build
        run: npm run build && npm test

        # Testing the action

      - name: "Test: download"
        id: test-download
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Test: getting the version"
        id: test-version
        run: |
          yontrack version --cli

      - name: Commit and push built files
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add dist/
          if ! git diff --staged --quiet; then
            git commit -m "chore: update built files [skip ci]"
            git push
          fi

      - name: Publication
        id: npm-publish
        if: ${{ github.ref == 'refs/heads/main' }}
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
